# Node
node_modules
.next

# Python
__pycache__/
*.pyc
venv/

# Env & credentials
.env*

# Logs & temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp/

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Misc
*.swp
