/* styles.css - Assuming this file is where you're trying to override Swagger UI styles */

#swagger-container .swagger-ui {
    /* Custom variables for overriding */
    --swagger-text-color: #ffffff;
    /* Assuming you have a fallback or defined color */
    --swagger-link-color: #38bdf8;
    /* Tailwind's sky-400 for links */
    --swagger-border-color: #4b5563;
    /* Tailwind's gray-600 for borders */
}

#swagger-container .swagger-ui {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .info p {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .info .title {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .topbar {
    display: none;
    /* Example to hide the top bar */
}

#swagger-container .swagger-ui a {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .scheme-container {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .tab li button.tablinks {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .opblock .opblock-summary-description {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .opblock-description-wrapper p {
    color: var(--swagger-text-color) !important;
}


#swagger-container .swagger-ui .response-col_description {
    color: var(--swagger-text-color) !important;
}

#swagger-container .swagger-ui .response-col_status {
    color: var(--swagger-text-color) !important;
}

.swagger-ui .servers-title {
    color: #3b4151;
}