JWT_SECRET=
API_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=whisp_db
DB_USER=
DB_PASSWORD=

HOST_URL=http://localhost:3000

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

GEOID_BASE=
GEOID_DEFAULT_CATALOG=geoid
GEOID_DEFAULT_COLLECTION=test_coll

NEXT_PUBLIC_GEOMETRY_LIMIT=1000
NEXT_PUBLIC_ASYNC_THRESHOLD=50
NEXT_PUBLIC_MAX_UPLOAD_FILE_SIZE_KB=1024
