JWT_SECRET=
API_URL=http://localhost:8001/api
PUBLIC_API_URL=

KEYCLOAK_ISSUER=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=http://localhost:3000/auth/sso/callback
KEYCLOAK_SCOPE=openid email profile

DB_HOST=localhost
DB_PORT=5432
DB_NAME=whisp_db
DB_USER=
DB_PASSWORD=

HOST_URL=http://localhost:3000

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

NEXT_PUBLIC_ASYNC_THRESHOLD=50
